# list in python method attrubutes

In [3]:
students_name = ["farooq","usman","ali","umer"]

In [6]:
students_name [0]

'farooq'

In [7]:
students_name [1]

'usman'

In [8]:
students_name [2]

'ali'

In [9]:
students_name [3]

'umer'

In [10]:
students_name.append("kamran")

In [11]:
print(students_name)

['farooq', 'usman', 'ali', 'umer', 'kamran']

In [12]:
students_name[4]="kami"

In [13]:
print(students_name)

['farooq', 'usman', 'ali', 'umer', 'kami']

In [14]:
students_name.append("farooq")

In [16]:
students_name.count("farooq")

2

In [19]:
students_name.remove("farooq")

In [20]:
print(students_name)

['usman', 'ali', 'umer', 'farooq']

In [21]:
students_name.sort()

In [22]:
print(students_name)

['ali', 'farooq', 'umer', 'usman']

In [23]:
students_name.reverse()

In [24]:
print(students_name)

['usman', 'umer', 'farooq', 'ali']

In [25]:
students2=["saba","maryam"]

In [27]:
allstudents=students_name+students2

In [29]:
print(allstudents)

['usman', 'umer', 'farooq', 'ali', 'saba', 'maryam']

In [31]:
marks={11,12,13}

In [32]:
max(marks)

13

In [33]:
min(marks)

11